body{
    font-family: 'Poppins', sans-serif;
}
/*Header area*/
.header-part{
    display: flex;
}
.max-width{
    width: 80%;

}
.max-width img{
    width: 60%;
}
.text1 h1{
    border-left: thick solid #FDAC37;
    padding-left: 10px;
    font-size: 60px;
    color: #333333;
    font-family: 'PT Serif', serif;
   
}
.text1{
    margin-left:10%;
    margin-top: 10%;
}
.text1 span{
    color: #FF5959;
}
.text1 p{
 color: #4D4D4D;
}
.text1 a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #FDAC37;
    color: aliceblue;
    border-radius: 5px;
  
}

/*Mission area*/
.mission{
    text-align: center;
}
.mission h1{
    font-size: 50px;
    
    color:#13103A;
}
.mission span{
    color: #FF5959;
}
.mission-area{
    display: flex;
    text-align: left;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    
}
.mission-area .mission1{
       background-color: #EDF5F6;
       border-radius:10%;
       margin:10px;
       padding-left: 20px;
       padding-right: 20px;
       
}
.mission-area .mission2{
       background-color: #FFEEEE;
       border-radius:10%;
       margin:10px;
       padding-left: 20px;
       padding-right: 20px;
    }
.mission-area .mission3{
    background-color: #FFF4D6;
    border-radius:10%;
    margin:10px;
    padding-left: 20px;
    padding-right: 20px;
        }
.mission-area p{
    color: #4D4D4D;
}
/*community-area*/
.community{
    display: flex;
    margin-top: 70px;
    text-align: center;
    
}
.community h2{
    font-size: 40px;
    font-family:'PT Serif', serif ;
    color:#333333 ;
    
}
.community p{
    color:#4D4D4D ;
}

.codingtext{
    padding-right: 80px;
    max-width: 40%;
    text-align: left;
    margin-top: 20px;
}
.codingtext a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #FDAC37;
    color: aliceblue;
    border-radius: 5px;
}
/*global area*/
.global{
    display: flex;
    margin-top: 90px;
    text-align: center;
    
}
.globaltext{
    padding-left:10%;
    max-width: 40%;
    text-align: left;
    margin-top: 20px;
}
.globalimg{
    padding-left: 90px;
}
.globaltext h1{
    font-size: 40px;
    font-family:'PT Serif', serif ;
    color:#333333 ;}
.globaltext p{
    color:#4D4D4D ;
}
.globaltext a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #FDAC37;
    color: aliceblue;
    border-radius: 5px;
}

/*team-member*/
.team-member{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
 
    
}
.member h1{
    font-size: 40px;
    font-family:'PT Serif', serif ;
    text-align: center;
    margin-top: 50px;
    
}
.member span{
    color: #FF5959;
}
.team-member .person1{
    background-color: #EDF5F6;
    border-radius:10%;
    margin:20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 10px #333333;
}
.team-member .person2{
    background-color: #FFEEEE;
    border-radius:10%;
    margin:20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 10px #333333;
}
.team-member .person3{
    background-color: #FFF4D6;
    border-radius:10%;
    margin:20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 10px #333333;
}
.team-member p{
     color:#4D4D4D ;
}
/**footer area*/
.text4{
    text-align: center;
    background-color: #0B0D17;
    padding: 20px;
    margin-top: 50px;
}

.text4 span{
    color:#FDAC37 ;
}
.text4 h1{
    color: #EDF5F6;
    font-family:'PT Serif', serif ;
}
.text4 p{
    color: #BABCC2;
}